html {
  color: gray;
  background-color: rgb(36, 36, 36);
}

.active {
  color: cyan
}

.correct {
  color: white;
}

#typing {
  margin: 0 auto;
  width: 1000px;
  font-size: 40px;
}
/* #cursor{
    font-size: 40px;
} */
#timer {
  margin: auto;
  font-size: 60px;
}
.incorrect {
  color: red;
}
